@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=RocknRoll+One&display=swap");

.options {
  padding: 0.8rem;
  margin: 0.8rem;
  color: red;
  border: 2px solid #000;
  cursor: pointer;
  background: transparent;
  font-family: "RocknRoll One", sans-serif;
  font-size: 16px;
}
.options:hover {
  background-color: rgba(230, 157, 48, 0.486);
  border: 2px solid red;
  font-size: 18px;
}
.options:focus {
  background-color: rgb(204, 137, 36);
  color: white;
  font-size: 18px;
}

.box {
  display: flex;
  justify-content: center;
}
.quiz-container {
  width: 45%;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.quiz-container li {
  font-size: 18px;
}
.next-btn {
  outline: 0;
  background: rgb(230, 157, 48);
  width: 10%;
  border: 0;
  padding: 10px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.next-btn:hover {
  background: #a15e06;
}
.finish-btn {
  outline: 0;
  background: rgb(161, 2, 2);
  width: 10%;
  border: 0;
  padding: 10px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.finish-btn:hover,
.finish-btn:focus {
  background: #ff0000;
}
